.page-title{
    font-family: "Yeseva One", verdana;
    font-size: 50px;
    color: rgb(0, 0, 0);
    padding: 50px 100px;
}

.page-subtitle{
    font-family: "Yeseva One", verdana;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 50px 100px;
    border: 1px solid black;
}

.about-me{
    font-family: verdana;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 50px 100px;
}